body {
    background-color:antiquewhite;
  }

  .fade-in-title {
    font-family: Arial;
    font-size: 45px;
    animation: fadeIn 5s;
    text-align:center;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  